<%- include('includes/header') %>

	 <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Passport App</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/users/logout">Logout</a></li>
	    </ul>
	  </div>
	</nav>

    <div class="container">

      <div class="starter-template">
        <h1>Hello <%= user.name%></h1>
        <p class="lead">Welcome to the members area!</p>
      </div>

    </div>

<%- include('includes/footer') %>
